* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EAE4DD;
}

h1, h2, span {
    color: #295F98;
}

h1 {
    font-size: 6vw;
    font-family: "SUSE", sans-serif;
}

#portfolio {
    font-size: 4vw;
    font-style: italic;
}

#by {
    background-color: #295F98;
    color: white;
    font-size: 2vw;
    border-radius: 50%;
    padding: 5px;
    margin-left: 50px;
    font-style: italic;
    font-family: "SUSE", sans-serif;
}

#name {
    color: black;
    font-size: 2vw;
}

.year span {
    font-family: "SUSE", sans-serif;
}

p {
    width: 30vw;
    font-size: 1.3vw;
}


#mal {
    width: 50vw;
}

#shapeFormat {
    position: relative;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.flex-container {
    width: 100vw;
}

#margins {
    margin-left: 8.5%;
}

.geo {
    width: 7vw;
    margin: 0 20px;
    opacity: 0.6;
}

#geoShapes {
    position: absolute;
    bottom: -60px;
    left: 120px;
}

#geoShapes2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 10px;
    right: 0px;
    z-index: 0;
}

.flex-project {
    display: flex;
    margin: 0px 40px;
}


h4 {
    margin-left: 50px;
    font-size: 2rem;
    color: #295F98;
    margin-bottom: 40px;
}

ul {
    position: relative;
    padding-left: 15px;
    margin-left: 50px;
    z-index: 1;
}




#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(2);
}


#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: absolute;
    background-color: #EAE4DD;
    top: 100vh;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(0px);
    z-index: 1;
}

#projects h3 {
    margin-left: 7.5%;
    align-self: flex-start;
    font-size: 4rem;
    font-family: "SUSE", sans-serif;
    color:#295F98;
}

.parallax {
    height: 100vh;

  overflow-x: hidden;
  overflow-y: auto;

  perspective: 1px;
}



.flex-project {
    margin-bottom: 20px;
    width: 85vw;
}

.flex-project a {
    color:#295F98;
    text-decoration: none;
}

.flex-project h4 {
    text-decoration: underline;
}

.flex-project h4:hover {
    color: #1F316F;
}

.flex-project img {
    width: 40vw;
}

video {
width: 40vw;
 height: 100%;

}

#arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
}

#contact-title {
    font-size: 5rem;
    font-family: "SUSE", sans-serif;
}

.in-view {
    animation: fadeIn;
    animation-duration: 3s;
}

#contact-title span {
    font-style: italic;
    font-family: serif;
}

@keyframes fadeIn {
    from {margin-left: -100px;}
    to {margin-left: 0px;}
}

hr {
    margin: 60px 40px;
}

#contact-flex {
    position: relative;
}

#geoShapes3 {
    position: absolute;
    top: 0px;
    right: 0;
}



#flex-form {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#contact-me {
    width: 85vw;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#contact-me img {
    width: 50vw;
    height: 100%;
    margin-top: 30px;
}

label {
    font-size: 2rem;
}

input {
    width: 100%;
    height: 40px;
    font-size: 1.4rem;
    border-radius: 5px;
    border: none;
}




#message {
    height: 150px;
    width: 100%;
    font-size: 1.4rem;
    border: none;
    border-radius: 5px;
}

#flex-form2 {
    display: flex;
    flex-direction: column;
}

button {
    font-size: 1.2rem;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color:#295F98;
    color:#EAE4DD;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #1F316F;
    cursor: pointer;
}

#result span {
    font-size: 2rem;
}

#result {
    margin-bottom: 30px;
}

@media (max-width: 1196px) {
    .flex-project {
        align-items: center;
    }
}

@media (max-width: 900px) {
p {
    font-size: 1.5vw;
}

h4 {
    font-size: 1.4rem;
    margin-bottom: 5px;
}

li {
    font-size: 0.9rem;
}

.flex-project video {
    width: 50vw;
}

.flex-project img {
    width: 50vw;
}

#contact-me {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#contact-me img {
    width: 70vw;
}

#contactForm {
    width: 70vw;
}

#first-name input {
    width: 34vw;
}

#last-name input {
    width: 34vw;
}




}

@media (max-width: 775px) {
    #contact-me img {
        width: 90vw;
    }
    
    #contactForm {
        width: 90vw;
    }
    
    #first-name input {
        width: 44vw;
    }
    
    #last-name input {
        width: 44vw;
    }
    
 

    .geo {
        width: 10vw;
    }
    #shapeFormat {
        flex-direction: column;
        gap: 20px;
    }

    p {
        width: 70vw;
        font-size: 2vw;

    }

    #mal {
        width: 70vw;
    }

    #margins {
        margin-left: 15%;
    }

    #geoShapes {
        display: flex;
        flex-direction: column;
        gap: 20px;
        top: 0;
        left: 50px;
    }

    .flex-project {
        width: 75vw;
        flex-direction: column;
    }

     #projects h3 {
      margin-left: 12%;
     }

    .flex-project img {
        width: 100%
    }

    .flex-project ul {
        width: 100%;
    }

    #wrapper2 {
        width: 100vw;
    }

    ul {
        margin-left: 0px;
    }

    h4 {
        margin-left: 0px;
    }
}

@media (max-width: 640px) {

    #mal {
        width: 90vw;
    }

    p {
        width: 90vw;
        font-size: 2.3vw;
    }

    #margins {
        margin-left: 5%;
    }

    #geoShapes {
        left: -15px;
    }

    .flex-project {
        width: 90vw;
    }

    .flex-project img {
        width: 100%;
    }

    .flex-project ul {
        width: 100%;
    }

    #projects h3 {
        margin-left: 4.5%;
    }
}

@media (max-width: 500px) {

    #geoShapes {
        width: 100vw;
        flex-direction: row;
        justify-content: space-between;
        left: auto;
        top: -200px;
        right: auto;
        bottom: auto;
    }
    p {
        font-size: 1rem;
        margin-top: 10px;
    }

   h1 {
    font-size: 3rem;
   }

   #portfolio {
    font-size: 2.2rem;
   }

   #by {
    font-size: 1.3rem;
    margin-left: 0px;
   }

   #name {
    font-size: 1.5rem;
   }

   .geo {
    width: 15vw;
   }

   #geoShapes3 {
    width: 95vw;
    display: flex;
    justify-content: space-between;
    right:auto;
    top: -60px;
    
   }

  #geo-container3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #contact-flex {
    display: block;
  }

  #contact-title {
    font-size: 3rem;
  }

  #contact {
    margin: 0;
  }
}











