* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EAE4DD;
    width: 100vw;
    overflow-x: hidden;
    font-family: "SUSE", sans-serif;
}

.parallax-window {
background-image: url("./assets/background.jpg");
min-height: 300px; 
background-attachment: fixed; 
background-position: center; 
background-repeat: no-repeat; 
background-size: cover; 
}

input:focus, textarea:focus {
    outline:#deabc5 solid 2px;
}



input, textarea {
   padding: 10px;
   font-family: "SUSE", sans-serif;
}

#scrollUp {
    position:fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    background-color:#eae4dd00;
    z-index: 3;
}

#designLogo {
    height: 100%;
}

#brush2 {
    transform: rotate(90deg);
    position: absolute;
    width: 400px;
    right: -125px;
    top: 75px;
}

#brush3 {
    position: absolute;
    width: 500px;
    top: -100px;
    right: 100px;
    
}

#menuBar {
    height: 75px;
}

#menuBar {
    background-color: #deabc5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navItems a {
    margin-right: 50px;
    font-size: 1.1em;
    text-decoration: none;
    background-color: #390c14;
    color: #EAE4DD;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px #390c1465;
}

#dropdownContainer {
    display: none;
}

#dropdownItems li {
    list-style: none;
    color:#EAE4DD;
    font-size: 1.2em;
    font-family: "SUSE", sans-serif;
}

#dropdownItems a {
    text-decoration: none;
}

#navItems a:hover {
    background-color: #851d30;
}

#dropdownItems ul {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


#dropdownItems {
    background-color:#390c14;
    padding: 20px;
    position: absolute;
    right: 10px;
    border-radius: 5px;
}


#contact {
    position: relative;
    margin-top: 20px;
    margin-bottom: 50px;
}

#footer span {
  padding: 0px 0px 20px 40px;
 
}

#foot {
    margin: 0 40px 10px 40px;
}

h1, h2, span, p {
    color: #390c14
}

li {
    color:#490f19;
}

h1 {
    font-size: 5vw;
    font-family: "SUSE", sans-serif;
}

#portfolio {
    font-size: 4vw;
    font-style: italic;
}

#portfolio-title {
    display: flex;
    align-items: center;
}

#by {
    background-color: #deabc5;
    color: white;
    font-size: 2vw;
    border-radius: 50%;
    padding: 5px;
    margin-left: 50px;
    font-style: italic;
    font-family: "SUSE", sans-serif;
}

#name {
    color: black;
    font-size: 2vw;
}



p {
    font-size: 1.3vw;
   
}


#mal {
    width: 50vw;
}

#position {
    position: relative;
}

#para {
    word-wrap: break-word;
    z-index: 2;
    padding-left: 50px;
}

#shapeContainer {
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#shapeFormat {
    width: 83vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#margins {
    margin-left: 8.5%;
}

.geo {
    width: 30vw;
    position: absolute;
    bottom: -40%;
    left: 0px;
}

h4 {
    position: relative;
    font-size: 2rem;
    color:#390c14;
    margin-bottom: 40px;
    z-index: 2;
    text-decoration: underline;
}



ul {
    position: relative;
    padding-left: 15px;
    z-index: 1;
}


#intro {
    height: 100vh;
    position: relative;
}


#homePage {
    margin-top: 50px;
}


#projects {
    position: relative;
    margin-top: 20px;
    
}

#projects h3 {
    position: relative;
    z-index: 2;
    margin-left: 8.4%;
    margin-bottom: 20px;
    align-self: flex-start;
    font-size: 4rem;
    font-family: "SUSE", sans-serif;
    color:#390c14;
}


.flexProjectContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.flex-project {
    margin-bottom: 20px;
    width: 83vw;
    display: flex;
    gap: 20px;
}

.flex-project a {
    color:#295F98;
    text-decoration: none;
}



.flex-project h4:hover {
    color:#851d30;
}

.flex-project img {
    /* width: 40vw; */
    height: 40vh;
}

video {
width: 40vw;
 height: 40vh;
 object-fit: cover;

}

#arrow {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    color:#390c14;
}

#contact-title {
    font-size: 5rem;
    font-family: "SUSE", sans-serif;
    

}

.in-view {
    animation: fadeIn;
    animation-duration: 2s;
}

#contact-title span {
    font-style: italic;
    font-family: serif;
}

@keyframes fadeIn {
    from {margin-left: -100px;}
    to {margin-left: 0;}
}



.contactFlexContainer {
    display: flex;
    justify-content: center;
    width: 100vw;
}

#contact-me {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 83vw;
}

#contact-flex {
    position: relative;
    display: flex;
    width: 83vw;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



#contact-me img {
    height: 100%;
    width: 40vw;
    object-fit: contain;
}

label {
    font-size: 1.5rem;
    color:#390c14;
}

input {
    width: 100%;
    height: 40px;
    font-size: 1.4rem;
    border-radius: 5px;
    border: none;
}

#nameFlex {
    display: flex;
    gap: 10px;
}




#message {
    height: 150px;
    width: 100%;
    font-size: 1.4rem;
    border: none;
    border-radius: 5px;
}

#flex-form2 {
    width: 30vw;
    display: flex;
    flex-direction: column;
}

#submit {
    font-size: 1.2rem;
    padding: 10px;
    margin-top: 20px;
    background-color:#490f19;
    color:#EAE4DD;
    border: none;
    border-radius: 5px;
}

#submit:hover {
    background-color:#851d30;
    cursor: pointer;
}

#result span {
    font-size: 2rem;
}

#result {
    margin: 10px 0 0 0;
}



@media (max-width: 1196px) {
    .flex-project {
        align-items: center;
    }

    #contact-me img {
        height: 45vh;
    }
}

@media (max-width: 900px) {
p {
    font-size: 1.5vw;
}

h4 {
    font-size: 1.4rem;
    margin-bottom: 5px;
}

li {
    font-size: 0.9rem;
}

.flex-project video {
    width: 50vw;
    object-fit: cover;
}

.flex-project img {
    width: 50vw;
    object-fit: cover;
}

.contactFlexContainer {
    display: block;
    width: 100vw;
}

#contact-me {
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#contact-me img {
    width: 80vw;
    object-fit: cover;
}

#flex-form2 {
    width: 80vw;
}

#nameFlex {
    width: 80vw;
    justify-content: space-between;
}
#nameFlex input {
    width: 38vw;
}

}

@media (max-width: 775px) {

    #intro {
        height: auto;
        margin-bottom: 50px;
    }

    #arrow {
        bottom: -40px;
    }

    .parallax-window {
        background-attachment: scroll;
    }

    #contact-flex {
        width: 90vw;
    }

    #para {
        padding-left: 0;
        position: relative;
    }


    #navItems {
        display: none;
    }

    #dropdownContainer {
        margin-right: 30px;
        display: block;
    }
   
    .geo {
        bottom: -25%;
    }

    #brush2 {
        transform: none;
        width: 275px;
        top: -50px;
        left: 50px;
    }

    #brush3 {
        width: 300px;
        left: 0;
        top: -50px;
    }

    #contact-me img {
        width: 90vw;
    }
    

    #flex-form2 {
        width: 90vw;
    }

    #nameFlex {
       width: 90vw;
    }

    #nameFlex input {
        width: 42vw;
    }
    
    #shapeFormat {
        flex-direction: column;
        gap: 10px;
        width: 70vw;
    }



    p {
        font-size: 2vw;

    }

    #mal {
       width: 100%;
    }

    #margins {
        margin-left: 15%;
    }


    .flex-project {
        width: 75vw;
        flex-direction: column;
    }

     #projects h3 {
      margin-left: 12%;
     }

    .flex-project img {
        width: 100%;
        height: auto;
    }

    .flex-project ul {
        width: 100%;
    }

    #wrapper2 {
        width: 100vw;
    }

    ul {
        margin-left: 0px;
    }

    h4 {
        margin-left: 0px;
    }
}

@media (max-width: 640px) {

    h1 {
        font-size: 2.5rem;
    }

    #portfolio {
        font-size: 2rem;
    }

    #by {
        font-size: 1.5rem;
    }

    #name {
        font-size: 1.5rem;
    }

    #brush2 {
        left: 0;
    }

    .geo {
        width: 40vw;
    }

    #mal {
        width: 100%;
    }

    #menuBar {
        height: 50px;
    }

    p {
        font-size: 3vw;
    }

    #shapeFormat {
        width: 90vw;
    }

    #margins {
        margin-left: 5%;
    }

    .flex-project {
        width: 90vw;
    }

    .flex-project img {
        width: 100%;
    }

    .flex-project ul {
        width: 100%;
    }

    #projects h3 {
        margin-left: 4.5%;
    }

    #foot {
        margin: 0 20px 10px 20px;
    }

    #footer span {
        padding-left: 20px;
    }




}

@media (max-width: 500px) {

   .geo {
     width: 50vw;
     bottom: -35%;
   }


    p {
        font-size: 0.9rem;
        margin-top: 10px;
    }

   h1 {
    font-size: 2.5rem;
   }

   #portfolio {
    font-size: 1.6rem;
   }

   #by {
    font-size: 1.3rem;
    margin-left: 0px;
   }

   #name {
    font-size: 1.5rem;
   }



  #contact-flex {
    display: block;
  }

  #contact-title {
    font-size: 3rem;
    margin-top: 10px;
  }

  #contact {
    margin: 0 0 50px 0;
  }

  #brush3 {
    width: 200px;
    left: 0;
    top: -30px;
}
}











